                <!-- BEGIN Page Title -->
                <div class="page-title">
                    <div>
                        <h1><i class="fa fa-file-o"></i>  <%= current_page.data.pageTitle %></h1>
                        <h4><%= current_page.data.pageDescription %></h4>
                    </div>
                </div>
                <!-- END Page Title -->