                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>RTU Manager</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li class="">
                                <a href="">บางกอกน้อย (B01)</a>
                            </li>
                            <li class="">
                                <a href="">ตากสิน (B02)</a>
                            </li>
                            <li class="">
                                <a href="">พญาไท (B03)</a>
                            </li>
                            <li class="">
                                <a href="">นนทบุรี (B04)</a>
                            </li>
                            <li class="">
                                <a href="">ทุ่งมหาเมฆ (B05)</a>
                            </li>
                            <li class="">
                                <a href="" >แม้นศรี (B06)</a>
                            </li>
                            <li class="">
                                <a href="" >สุขุมวิท (B07)</a>
                            </li>
                            <li class="">
                                <a href="" >ภาษีเจริญ (B11)</a>
                            </li>
                            <li class="">
                                <a href="" >ลาดพร้าว (B12)</a>
                            </li>
                            <li class="">
                                <a href="" >พระโขนง (B13)</a>
                            </li>
                            <li class="">
                                <a href="" >สุขสวัสดิ์ (B14)</a>
                            </li>
                            <li class="">
                                <a href="" >ประชาชื่น (B15)</a>
                            </li>
                            <li class="">
                                <a href="" >บางเขน (B16)</a>
                            </li>
                            <li class="">
                                <a href="" >สุมทรปราการ (B17)</a>
                            </li>
                            <li class="">
                                <a href="" >มีนบุรี (B53)</a>
                            </li>
                            <li class="">
                                <a href="" >บางบัวทอง (B54)</a>
                            </li>
                            <li class="">
                                <a href="" >สุวรรณภูมิ (B55)</a>
                            </li>
                            <li class="">
                                <a href="" >มหาสวัสดิ์ (B56)</a>
                            </li>
                        </ul>
                        <!-- END Submenu -->
                    </li>



                          

                  