            <!-- BEGIN Content -->
            <div id="main-content">


                <!-- Admin - Container - MainContent - PageTitle  -->
                <%= partial partials_desktop_Admin_rmr_searchRTU + "/_Admin-container-rmr_searchRTU-mainContent-pageTitle" %>


                <!-- Admin - Container - MainContent - breadCrumbs  -->
                <%= partial partials_desktop_Admin_rmr_searchRTU + "/_Admin-container-rmr_searchRTU-mainContent-breadCrumbs" %>




                <!-- BEGIN Main Content -->
                <div class="row">
                    <div class="col-md-12" >

            
                        <!-- Admin - Container - Blank - MainContent - sampleBox  -->
                        <%= partial partials_desktop_Admin_rmr_searchRTU + "/_Admin-container-rmr_searchRTU-mainContent-sampleBox" %>

                    </div>
                </div>
                
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                
                <!-- END Main Content -->
                

     

                <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
            </div>
            <!-- END Content -->