---
title: "Report Manager - Pressure average"
layout: "layout-rmr-home-report-pressureAverage"

baseURL: "/rmr/build/src/desktop/Home/REPORT/PRESSURE-AVERAGE/"
homeURL: "../../"
loginURL: "../../../../../Login/index.php"
imageURL: "../../../../../images"

pageTitle: " แรงดันเฉลี่ยแต่ละ DMA"
pageDescription: "You can start your customization from this one!"

menuDashboard_IsActive: ""
menuDashboard_href: "../"

menuReportManager_IsActive: "active"
menuReportPressureAverage_href: "./"
---


		<!-- Admin - Navbar  -->
		<%= partial partials_desktop_home + "/home-common-partials/_home-common-navbar" %>

		<!-- BEGIN Container -->
        <div class="container sidebar-blue" id="main-container">

        		<!-- Home - Container - Sidebar  -->
			    <%= partial partials_desktop_home + "/REPORT/home-report-common-partials/_home-report-common-sidebar" %>

			    <!-- BEGIN Content -->
			    <div id="main-content" >


			    
					
			    	
			    	

			        <footer>
			            <p>Copyright © 2015 MWA. All rights reserved.</p>
			        </footer>
			        <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
			    </div>
			    <!-- END Content -->
        </div>
        <!-- END Container -->