                    <li class="<%= current_page.data.menuAdministrator_IsActive %>">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>Administrator</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li class="<%= current_page.data.menuAdministrator_memberIsActive %>"><a href="administrator_member.php">ผู้ใช้งานระบบ</a></li>
                            <li class="<%= current_page.data.menuAdministrator_accessPolicyIsActive %>"><a href="administrator_access_policy.php">กำหนดสิทธิการใช้งาน</a></li>
                        </ul>
                        <!-- END Submenu -->
                    </li>