                    <li class="<%= current_page.data.menuDashboardIsActive %>">
                        <a href="<%= current_page.data.menuHome_Index_href %>">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>