                <!-- BEGIN Tiles -->
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="tile tile-light-blue well well-sm">
                                            <!-- <p class="title"><strong class="text-info">Events Manager</strong> - ระบบจัดการงานกิจกรรมภายใน MBK</p> -->
                                            <h4><strong>RMR Manager</strong> - RTU Maintenance Records</h4>
                                            <p>ระบบบันทึกข้อมูลการซ่อมและบำรุงรักษาอุปกรณ์ตรวจวัดภาคสนาม (RTU)</p>
                                            <!-- <div  class="img img-bottom">
                                                <i class="fa fa-dashboard"></i>
                                            </div> -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        
                    </div>
                </div>

                <!-- END Tiles -->