<div class="row canvas-rtuInformation" id="canvas-rtuInformation-mapBox" >
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> แผนที่แสดงตำแหน่ง RTU (SMART RTU)</h3>
                <div class="box-tool">
                    <!-- <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a> -->
                    <!-- <a data-action="close" href="#"><i class="fa fa-times"></i></a> -->
                    <a class ="goto-default" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content" >
                <form action="#" class="form-horizontal" >
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN Left Side -->
                        <div class="col-md-12" id="map" style="height:540px;">
                          
                        </div>
                        <!-- END Left Side -->
                    </div>


                    <div class="row" id="rtu-info-box" style="display: none">
                        <div class="col-sm-12">
                                <form action="#" class="form-horizontal" id="formRTU_Information" method="post">

                                    <div class="form-group">
                                    <label class="col-sm-7 control-label">Flow:</label>
                                      <div class="col-sm-5 controls">
                                        <div class="input-group">
                                          <input type="text" name="" id="txtFlow" placeholder="Flow" class="form-control" readonly="readonly" style="color: black;">
                                          <span class="input-group-addon">
                                              <i class="fa fa-circle fa-1x" style="color:lightgray"></i>
                                          </span>
                                        </div>
                                        <!-- <span class="help-inline">last update : </span> -->
                                      </div>
                                    </div>

                                    <div class="form-group">
                                    <label class="col-sm-7 control-label">Pressure:</label>
                                      <div class="col-sm-5 controls">
                                        <div class="input-group">
                                          <input type="text" name="" id="txtPressure" placeholder="Pressure" class="form-control" readonly="readonly" style="color: black;">
                                          <span class="input-group-addon">
                                              <i class="fa fa-circle fa-1x" style="color:lightgray"></i>
                                          </span>
                                        </div>
                                        <!-- <span class="help-inline">last update : </span> -->
                                      </div>
                                    </div>

                                    <div class="form-group">
                                    <label class="col-sm-7 control-label">Pressure Average:</label>
                                      <div class="col-sm-5 controls">
                                        <div class="input-group">
                                          <input type="text" name="" id="txtPressureAverage" placeholder="Pressure Average" class="form-control" readonly="readonly" style="color: black;">
                                        </div>
                                        <!-- <span class="help-inline">last update : </span> -->
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label class="col-sm-5 control-label" for="dm">Auto Update:</label>

                                      <div class="col-sm-7 controls">
                                        <div id="auto-update-toggle-switch" class="label-toggle-switch make-switch">
                                          <input type="checkbox"  />
                                        </div>

                                        <!-- <i class="fa fa-clock-o"></i> -->
                                        <!-- <button  class="btn btn-circle btn-primary btn-lg"><i class="fa fa-clock-o fa-2x"></i></button> -->
                                        <!-- <button id="btn-auto-update" class="btn btn-circle btn-bordered thick btn-primary">
                                          <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
                                        </button> -->
                                        <i id="auto-update-refresh-icon" class="fa fa-refresh fa-spin fa-1x fa-fw" aria-hidden="true" style="display:none"></i>
                                      </div>


                                      <!-- <span class="col-sm-2">
                                        <i class="fa fa-clock-o"></i>
                                      </span> -->

                                      <!-- <button class="btn" id="btn-auto-update"> -->
                                          <!-- <i class="fa fa-clock-o"></i> -->
                                          <!-- <i class="fa fa-spinner fa-pulse"></i> -->
                                      <!-- </button> -->
                                    </div>

                                    <!-- <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-9">
                                            <button type="button" id="btn-close-rtu-info-box col-sm-3" class="btn btn-danger">ปิด</button>
                                        </div>
                                    </div> -->

                                </form>
                        </div>
                    </div>


                    <div class="row" id="pressure-range-desc-box" style="display: none">
                        <div class="col-sm-12">
                            <div class="mail-page ">
                              <div class="mail-nav">
                                <ul>
                                    <li class="" style="color: black;">Range: </li>
                                    <li><a href="#"><i class="mail-flag-gray"></i> Error</a></li>
                                    <li><a href="#"><i class="mail-flag-black"></i> &lt; 2</a></li>
                                    <li><a href="#"><i class="mail-flag-red"></i> 2 - 6</a></li>
                                    <li><a href="#"><i class="mail-flag-orange"></i> 6 - 10</a></li>
                                    <li><a href="#"><i class="mail-flag-green"></i> &gt; 10</a></li>
                                </ul>
                              </div>
                            </div>


                              <!-- <ul class="iconic">
                                <li><i class="fa fa-map-marker gray   fa-2x"></i> Error</li>
                                <li><i class="fa fa-map-marker black  fa-2x"></i> &lt; 2</li>
                                <li><i class="fa fa-map-marker red    fa-2x"></i> 2 - 6</li>
                                <li><i class="fa fa-map-marker orange fa-2x"></i> 6 - 10</li>
                                <li><i class="fa fa-map-marker green  fa-2x"></i> &gt; 10</li>
                              </ul> -->

                        </div>
                    </div>


                </div>
                </form>
            </div>
        </div>
    </div>




</div>


