<section id="why" class="container content-section">
	<h2 class="text-center"> Why Choose Us?</h2>
	<p class="text-center">Here are just a few reason to choose <strong>Digital Agency</strong> for all of my digital marketing needs.</p>
	<br/>
	<div class="row">
		<div class="col-md-4">
			<div class="block block-icon-left">
				<div class="icon">
					<i class="fa fa-briefcase fa-5x"></i>
				</div>
				<div class="icon-content">
					<h3>Professional</h3>
					<p>Lorem ipsum sit amet, consectatur apdipiscing elit.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="block block-icon-left">
				<div class="icon">
					<i class="fa fa-money fa-5x"></i>
				</div>
				<div class="icon-content">
					<h3>Low Cost</h3>
					<p>Lorem ipsum sit amet, consectatur apdipiscing elit.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="block block-icon-left">
				<div class="icon">
					<i class="fa fa-dashboard fa-5x"></i>
				</div>
				<div class="icon-content">
					<h3>Faster</h3>
					<p>Lorem ipsum sit amet, consectatur apdipiscing elit.</p>
				</div>
			</div>
		</div>



		<div class="col-md-4">
			<div class="block block-icon-left">
				<div class="icon">
					<i class="fa fa-gear fa-5x"></i>
				</div>
				<div class="icon-content">
					<h3>Resources & Tools </h3>
					<p>Lorem ipsum sit amet, consectatur apdipiscing elit.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="block block-icon-left">
				<div class="icon">
					<i class="fa fa-users fa-5x"></i>
				</div>
				<div class="icon-content">
					<h3>Large Community</h3>
					<p>Lorem ipsum sit amet, consectatur apdipiscing elit.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="block block-icon-left">
				<div class="icon">
					<i class="fa fa-book fa-5x"></i>
				</div>
				<div class="icon-content">
					<h3>Online Course</h3>
					<p>Lorem ipsum sit amet, consectatur apdipiscing elit.</p>
				</div>
			</div>
		</div>

	</div>
</section>