<section id="who" class="content-section text-center">
	<div class="who-section">
		<div class="container">
			<h2 class="text-center"> Who are we?</h2>
			<p class="text-center">Here are just a few reason to choose <strong>Digital Agency</strong> for all of my digital marketing needs.</p>
			<a href="#contact" class="btn btn-default btn-lg"> Contact Us Now</a>
		</div>
	</div>
</section>