 <div class="tab-pane active" id="tab2-1">

    <div class="form-group">
        <label for="firstname2" class="col-sm-3 col-lg-2 control-label">DM : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <input type="text" name="firstname2" id="firstname2" class="form-control" >
        </div>
    </div>

    <div class="form-group">
        <label for="firstname2" class="col-sm-3 col-lg-2 control-label">Branch : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <input type="text" name="firstname2" id="firstname2" class="form-control" >
        </div>
    </div>

    <div class="form-group">
        <label for="firstname2" class="col-sm-3 col-lg-2 control-label">Zone : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <input type="text" name="firstname2" id="firstname2" class="form-control" >
        </div>
    </div>

    <div class="form-group">
        <label for="firstname2" class="col-sm-3 col-lg-2 control-label">DMA : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <input type="text" name="firstname2" id="firstname2" class="form-control" >
        </div>
    </div>


    <div class="form-group">
        <label for="lastname2" class="col-sm-3 col-lg-2 control-label">IP Address : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <input type="text" name="lastname2" id="lastname2" class="form-control" >
        </div>
    </div>

    <div class="form-group">
        <label for="lastname2" class="col-sm-3 col-lg-2 control-label">Logger Device</label>
        <div class="col-sm-5 col-lg-3 controls">
            <input type="text" name="lastname2" id="lastname2" class="form-control" >
        </div>
    </div>

    <div class="form-group">
        <label for="lastname2" class="col-sm-3 col-lg-2 control-label">Location</label>
        <div class="col-sm-5 col-lg-3 controls">
            <input type="text" name="lastname2" id="lastname2" class="form-control" >
        </div>
    </div>


 </div>