 <div class="tab-pane" id="tab2-3">
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">DM : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text">DM-01-01-01-01</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">Branch : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text">B01</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">Zone : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text">01</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">DMA : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text">DMA-01-01-01</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">IP Address : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text">10.102.13.24</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">Logger Device : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text">WAGO</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">Location : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text">จรัญสนิทวงค์ ใกล้ 7-11 ปากซอยวัดบัวขวัญ</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">พิกัด Lat,Lng : </label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text">(13.757616, 100.567193)</span>
        </div>
    </div>
 </div>