                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>RMR Manager</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li class="">
                                <a href="">รายงานข้อมูล RTU ที่ใช้งาน</a>
                            </li>
                            <li class="">
                                <a href="">รายการอุปกรณ์เสีย/ชำรุด</a>
                            </li>
                            <li class="">
                                <a href="">รายงานงบประมาณ</a>
                            </li>
                            <li class="">
                                <a href="">สืบค้นข้อมูลแยกตามสาขา</a>
                            </li>
                            <li class="">
                                <a href="">แผนที่ DMA</a>
                            </li>
                        </ul>
                        <!-- END Submenu -->
                    </li>