                    <li class="<%= current_page.data.menuRtuInfo_IsActive %>">
                        <a href="<%= current_page.data.menuRtu_information_href %>" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>RTU Information</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu" id="sideMenuRtuInfo">
                            <li class="">
                                <a ng-href="./#/B01" >บางกอกน้อย (B01)</a>
                                <ul>
                                    <li>
                                        <a ng-href="./#/B01/Map">
                                            <i class="fa fa-globe"></i><span> แผนที่</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a ng-href="./#/B02" >ตากสิน (B02)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B03" >พญาไท (B03)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B04" >นนทบุรี (B04)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B05" >ทุ่งมหาเมฆ (B05)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B06" >แม้นศรี (B06)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B07" >สุขุมวิท (B07)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B11" >ภาษีเจริญ (B11)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B12" >ลาดพร้าว (B12)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B13" >พระโขนง (B13)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B14" >สุขสวัสดิ์ (B14)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B15" >ประชาชื่น (B15)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B16" >บางเขน (B16)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B17" >สุมทรปราการ (B17)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B53" >มีนบุรี (B53)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B54" >บางบัวทอง (B54)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B55" >สุวรรณภูมิ (B55)</a>
                            </li>
                            <li class="">
                                <a ng-href="./#/B56" >มหาสวัสดิ์ (B56)</a>
                            </li>
                        </ul>
                        <!-- END Submenu -->
                    </li>