                <!-- BEGIN Breadcrumb -->
                <div>
                    <ul class="breadcrumb">
                        <li class="">
                        	<i class="fa fa-home"></i> 
                        	<a href="<%= current_page.data.homeURL %>">Home</a>
                        	<span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li class="active">
                            WLMA-SCADA
                            <span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li class="active">
                            Dashboard
                        </li>
                        <!-- <li class="active"> &nbsp; </li> -->
                    </ul>
                </div>
                <!-- END Breadcrumb -->


