                    <li class="<%= current_page.data.sidebarReportManager_IsActive %>">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>REPORT Manager</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li class="<%= current_page.data.sidebarReport001_IsActive %>">
                                <a href="<%= current_page.data.sidebarReport001_href %>">สถานะการซ่อมท่อจ่ายน้ำ</a>
                            </li>
                        </ul>
                        <!-- END Submenu -->
                    </li>