                <!-- BEGIN Breadcrumb -->
                <div>
                    <ul class="breadcrumb">
                        <!-- <li class="active"><i class="fa fa-home"></i> Home</li> -->
                        <li>
                        	<i class="fa fa-home"></i> 
                        	<a href="<%= current_page.data.homeURL %>">Home</a>
                        	<span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li>
                        	<a href="<%= current_page.data.reportManagerURL %>">Report Manager</a>
                        	<span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li class="active">
                        	WLMA-1125
                        	<span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li class="active">สถานะการซ่อมท่อจ่ายน้ำ</li>
                    </ul>
                </div>
                <!-- END Breadcrumb -->





