<table class="table table-advance" id="mainReport001DataTable" style="width: 100% !important;" >

<thead>
	<tr>
		<!-- <th >รหัส CRM</th>
		<th >รหัสคำร้อง WLMA</th>
		<th >รหัส WLMA</th>
		<th >รหัสงาน WLMA</th>
		<th >วัน-เวลา 1125 ส่งงาน</th>
		<th >วัน-เวลา รับคำร้อง</th>
		<th >วัน-เวลา เปิดงาน</th>
		<th >วัน-เวลา เปิดงานภาคสนาม</th>
		<th >วัน-เวลา ปิดงานภาคสนาม</th>
		<th >วัน-เวลา ปิดงาน</th>
		<th >ระยะเวลาดำเนินการ</th>
		<th >ขนาดท่อ</th>
		<th >ชนิดท่อ</th>
		<th >หมายเหตุ</th> -->
		<th >รหัส CRM</th>
		<th >รหัสคำร้อง WLMA</th>
		<th >รหัสงาน WLMA</th>
		<th >สถานะงานปัจจุบัน</th>
		<th >ระยะเวลาดำเนินการ</th>
		<th >หมายเหตุ</th>
	</tr>
</thead>

<tbody>


</tbody>
                        
</table>