<ion-header-bar class="bar-positive">
	<h1 class="title">Ionic Blank Starter</h1>
</ion-header-bar>

<!-- <div class="bar bar-header">
	<button class="button icon ion-navicon"></button> 
	<h1 class="title">Header Buttons</h1>
	<button class="button">Edit</button>
</div> -->