<!-- <div class="bar bar-footer bar-balanced">
  <div class="title">Footer</div>
</div> -->


<!-- index content striped style tabs  -->
<%= partial "views/views-partials/index-partials/_index-content-left_icon_tabs" %>