 <div class="tab-pane" id="tab2-3">
    <div class="form-group">
        <label for="country2" class="col-sm-3 col-lg-2 control-label">Country</label>
        <div class="col-sm-5 col-lg-3 controls">
            <input type="text" name="country2" id="country2" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="city2" class="col-sm-3 col-lg-2 control-label">City</label>
        <div class="col-sm-5 col-lg-3 controls">
            <input type="text" name="city2" id="city2" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">Gender</label>
        <div class="col-sm-5 col-lg-3 controls">
            <label class="radio-inline">
                <input type="radio" name="gender"> Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender"> Female
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="textarea2" class="col-sm-3 col-lg-2 control-label">More info</label>
        <div class="col-sm-5 col-lg-3 controls">
            <textarea name="textarea2" id="textarea2" rows="5" class="form-control"></textarea>
        </div>
    </div>
 </div>