        <!-- BEGIN Container -->
        <div class="container sidebar-blue" id="main-container">

            <!-- Home - Container - Sidebar  -->
            <%= partial partials_desktop_Common_dir + "/_Common-sidebar" %>

            <!-- Home - Container - MainContent  -->
            <%= partial partials_desktop_Home_index_dir + "/_Home-container-index-mainContent" %>

        </div>
        <!-- END Container -->