                    <li class="<%= current_page.data.sidebarWS_01_IsActive %>">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>WLMA-SCADA</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li class="<%= current_page.data.sidebarWS_01_01_IsActive %>">
                                <a href="<%= current_page.data.sidebarWS_01_01_href %>">Pressure & Flow</a>
                            </li>
                        </ul>
                        <!-- END Submenu -->
                    </li>