                <!-- BEGIN Breadcrumb -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                        	<i class="fa fa-home"></i> 
                        	<a href="<%= current_page.data.homeURL %>">Home</a>
                            <span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li class="active">
                            RTU Manager
                            <span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <!-- <li class="active">รายการข้อมูล RTU</li> -->
                        <li class="active breadcrumb-rtuLink-rtuList">
                            <span class="rtuLink"> รายการข้อมูล RTU </span>
                            <span class="divider breadcrumb-angleRight-rtuList" style="display:none">   
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </li>
                        <li class="active breadcrumb-title-rtuList" style="display:none">
                            เพิ่มข้อมูล RTU / แก้ไขข้อมูล RTU
                        </li>
                    </ul>
                </div>
                <!-- END Breadcrumb -->




