<div class="row canvas-rtuInformation" id="canvas-rtuInformation-mapBox" style="display:none">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> แผนที่แสดงตำแหน่ง RTU</h3>
                <div class="box-tool">
                    <!-- <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a> -->
                    <!-- <a data-action="close" href="#"><i class="fa fa-times"></i></a> -->
                    <a class ="goto-default" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content" >
                <form action="#" class="form-horizontal" >
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN Left Side -->
                        <div class="col-md-12" id="map"></div>
                        <!-- END Left Side -->
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" id="rtuSearchForm" style="display:none">
      <div class="col-sm-12">
              <form action="#" class="form-horizontal" id="formSearch" method="post">

                  <div class="form-group form-group-sm">
                     <label class="col-sm-3 control-label">ค้นหา:</label>
                     <div class="col-sm-9 controls">
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios2" value="option1" id="optionDatabase" /> ฐานข้อมูล
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios2" value="option2" id="optionGoogle" checked /> Google
                        </label> 
                     </div>
                  </div>

                  <div class="form-group form-group-sm">
                    <label class="col-sm-3 control-label"></label>
                      <div class="col-sm-9 controls">
                          <select class="form-control chosen" data-placeholder="เลือกรายการ" tabindex="1">
                              <option value=""> </option>
                              <option value="Category 1">Category 1</option>
                              <option value="Category 2">Category 2</option>
                              <option value="Category 3">Category 5</option>
                              <option value="Category 4">Category 4</option>
                          </select>
                      </div>
                  </div>

              </form>
      </div>
    </div>

    <div class="row" id="rtuAddForm" >
      <div class="col-sm-12">
              <form action="#" class="form-horizontal" id="formRTU_Information" method="post">
                  <div class="form-group form-group-sm">
                      <label class="col-sm-3 control-label" for="dm">DM:</label>
                      <div class="col-sm-9 controls">
                          <input type="text" name="dm" id="txtDM" class="form-control" disabled/>
                      </div>
                  </div>

                  <div class="form-group form-group-sm">
                      <label class="col-sm-3 control-label" for="dma">DMA:</label>
                      <div class="col-sm-9 controls">
                          <input type="text" name="dma" id="txtDMA" class="form-control" disabled/>
                      </div>
                  </div>

                  <div class="form-group form-group-sm">
                      <label class="col-sm-3 control-label" for="ip">IP:</label>
                      <div class="col-sm-9 controls">
                          <input type="text" name="ip" id="txtIP" class="form-control" disabled/>
                      </div>
                  </div> 

                  <div class="form-group form-group-sm">
                      <label class="col-sm-3 control-label" for="location">Location:</label>
                      <div class="col-sm-9 controls">
                          <textarea class="form-control" name="location" id="txtLocation" rows="2" disabled></textarea>
                      </div>
                  </div>

                  <div class="form-group form-group-sm">
                      <label class="col-sm-3 control-label" for="lat_lng">ค่าพิกัด:</label>
                      <div class="col-sm-9 controls">
                          <input type="text" name="lat_lng" id="txtLatLng" class="form-control" data-mask="(0.0000000, 0.0000000)"/>
                          <span class="help-inline">(Latitude, Longitude)</span>
                      </div>
                  </div>

                  <!-- <div class="form-group">
                    <label class="col-sm-3 control-label">ค่าพิกัด:</label>
                    <div class="col-sm-9 controls">
                      <div class="input-group">
                        <input type="text" placeholder="Search here..." class="form-control" />
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                      </div>
                      <span class="help-inline">(Latitude, Longitude)</span>
                    </div>
                  </div> -->

                  <div class="form-group form-group-sm">
                      <label class="col-sm-3 control-label" for="remark">หมายเหตุ:</label>
                      <div class="col-sm-9 controls">
                          <textarea class="form-control" name="remark" id="txtRemark" rows="2"></textarea>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                          <button type="button" id="formRTU_Information-btnSave" class="btn btn-primary col-sm-6">บันทึกข้อมูล</button>
                          <!-- <input type="submit" class="btn btn-primary col-sm-6" value="บันทึกข้อมูล"> -->
                          <!-- <button type="button btn-primary" class="btn">บันทึกข้อมูล</button> -->
                          <button type="button" id="formRTU_Information-btnCancel" class="btn btn-danger col-sm-6">ยกเลิก</button>
                      </div>
                  </div>

              </form>
      </div>
  </div>
</div>


