        <!-- BEGIN Container -->
        <div class="container sidebar-blue">

            <!-- Admin - Container - Sidebar  -->
            <%= partial partials_desktop_Common_dir + "/_common-sidebar" %>

            <!-- Admin - Container - MainContent  -->
            <%= partial partials_desktop_home_rmr_searchRTU + "/_home-rmr-searchRTU-container-mainContent" %>

        </div>
        <!-- END Container -->