                        <div class="box box-red">
                            <div class="box-title">
                                <h3><i class="fa fa-tasks"></i> Tasks In Progress</h3>
                                <div class="box-tool">
                                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <ul class="tasks-in-progress">
                                    <li>
                                        <p>
                                            Backend Development
                                            <span>45%</span>
                                        </p>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar progress-bar-warning" style="width:45%"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>
                                            Some Optimization On JS Code
                                            <span>63%</span>
                                        </p>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" style="width:63%"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>
                                            Writing Documentation
                                            <span>30%</span>
                                        </p>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar progress-bar-danger" style="width:30%"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>
                                            Android App Development
                                            <span>80%</span>
                                        </p>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar progress-bar-success" style="width:80%"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>
                                            Marketing
                                            <span>35%</span>
                                        </p>
                                        <div class="progress progress-mini progress-striped">
                                            <div class="progress-bar" style="width:35%"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>
                                            iOS App Developement
                                            <span>55%</span>
                                        </p>
                                        <div class="progress progress-mini progress-striped">
                                            <div class="progress-bar progress-bar-warning" style="width:55%"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>