            <!-- BEGIN Content -->
            <div id="main-content">

                <!-- Admin - Container - MainContent - PageTitle  -->
                <%= partial "_Admin-container-mainContent-pageTitle" %>


                <!-- Admin - Container - MainContent - breadCrumbs  -->
                <%= partial "_Admin-container-blank-mainContent-breadCrumbs" %>





                <!-- BEGIN Main Content -->
                <div class="row">
                    <div class="col-md-12" >

                        <!-- Admin - Container - Blank - MainContent - sampleBox  -->
                        <%= partial "_Admin-container-blank-mainContent-sampleBox" %>


                    </div>
                </div>
                
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                
                <!-- END Main Content -->
                

                <!-- Admin - Container - MainContent - Footer  -->
                <%= partial "_Admin-container-mainContent-footer" %>

                <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
            </div>
            <!-- END Content -->