        <!-- BEGIN Container -->
        <div class="container" id="main-container">

            <!-- Admin - Container - Sidebar  -->
            <%= partial "_Admin-container-sidebar" %>

            <!-- Admin - Container - MainContent  -->
            <%= partial "_Admin-container-mainContent" %>

        </div>
        <!-- END Container -->