                        <div class="box box-pink">
                            <div class="box-title">
                                <h3><i class="fa fa-comments"></i> Chat</h3>
                                <div class="box-tool">
                                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <ul class="messages messages-chat messages-stripped messages-zigzag slimScroll" style="height:250px">
                                    <li>
                                        <img src="<%= '../../../' + images_dir + '/images-flaty_theme/img/demo/avatar/avatar1.jpg' %>" alt="">
                                        <div>
                                            <div>
                                                <h5>Penny</h5>
                                                <span class="time"><i class="fa fa-clock-o"></i> 2 minutes ago</span>
                                            </div>
                                            <p>hey Sarah</p>
                                            <p>how R U?</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="<%= '../../../' + images_dir + '/images-flaty_theme/img/demo/avatar/avatar3.jpg' %>" alt="">
                                        <div>
                                            <div>
                                                <h5>Sarah</h5>
                                                <span class="time"><i class="fa fa-clock-o"></i> 1 minutes ago</span>
                                            </div>
                                            <p>Hi Penny</p>
                                            <p>Thanks, how are you ?</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="<%= '../../../' + images_dir + '/images-flaty_theme/img/demo/avatar/avatar1.jpg' %>" alt="">
                                        <div>
                                            <div>
                                                <h5>Penny</h5>
                                                <span class="time"><i class="fa fa-clock-o"></i> 47 seconds ago</span>
                                            </div>
                                            <p>ey, I'm good</p>
                                            <p>what's up?</p>
                                            <p>what's your plan for dinner?</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="<%= '../../../' + images_dir + '/images-flaty_theme/img/demo/avatar/avatar3.jpg' %>" alt="">
                                        <div>
                                            <div>
                                                <h5>Sarah</h5>
                                                <span class="time"><i class="fa fa-clock-o"></i> 12 seconds ago</span>
                                            </div>
                                            <p>Not much</p>
                                            <p>I haven't any plan, why ?</p>
                                        </div>
                                    </li>
                                </ul>

                                <div class="messages-input-form">
                                    <form method="POST" action="#">
                                        <div class="input">
                                            <input type="text" name="text" placeholder="Write here..." class="form-control">
                                        </div>
                                        <div class="buttons">
                                            <a class="show-tooltip" href="#" title="Take Picture"><i class="fa fa-camera"></i></a>
                                            <a class="show-tooltip" href="#" title="Attach File"><i class="fa fa-paperclip"></i></a>
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-share"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>