                        <div class="box box-green">
                            <div class="box-title">
                                <h3><i class="fa fa-check"></i> Todo List</h3>
                                <div class="box-tool">
                                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <ul class="todo-list">
                                    <li>
                                        <div class="todo-desc">
                                            <p><a href="#">Fix some bugs</a></p>
                                        </div>
                                        <div class="todo-actions">
                                            <span class="label label-important">Today</span>
                                            <a class="show-tooltip" href="#" title="It's done"><i class="fa fa-check"></i></a>
                                            <a class="show-tooltip" href="#" title="Remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="todo-desc">
                                            <p>Add new product's description post</p>
                                        </div>
                                        <div class="todo-actions">
                                            <span class="label label-important">Today</span>
                                            <a class="show-tooltip" href="#" title="It's done"><i class="fa fa-check"></i></a>
                                            <a class="show-tooltip" href="#" title="Remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="todo-desc">
                                            <p><a href="#">Remove some posts</a></p>
                                        </div>
                                        <div class="todo-actions">
                                            <span class="label label-warning">Tommorow</span>
                                            <a class="show-tooltip" href="#" title="It's done"><i class="fa fa-check"></i></a>
                                            <a class="show-tooltip" href="#" title="Remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="todo-desc">
                                            <p>Shedule backups</p>
                                        </div>
                                        <div class="todo-actions">
                                            <span class="label label-success">This week</span>
                                            <a class="show-tooltip" href="#" title="It's done"><i class="fa fa-check"></i></a>
                                            <a class="show-tooltip" href="#" title="Remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="todo-desc">
                                            <p>Weekly sell report</p>
                                        </div>
                                        <div class="todo-actions">
                                            <span class="label label-success">This week</span>
                                            <a class="show-tooltip" href="#" title="It's done"><i class="fa fa-check"></i></a>
                                            <a class="show-tooltip" href="#" title="Remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="todo-desc">
                                            <p><a href="#">Hire developers</a></p>
                                        </div>
                                        <div class="todo-actions">
                                            <span class="label label-info">Next week</span>
                                            <a class="show-tooltip" href="#" title="It's done"><i class="fa fa-check"></i></a>
                                            <a class="show-tooltip" href="#" title="Remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="todo-desc">
                                            <p><a href="#">New frontend design</a></p>
                                        </div>
                                        <div class="todo-actions">
                                            <span class="label label-info">Next week</span>
                                            <a class="show-tooltip" href="#" title="It's done"><i class="fa fa-check"></i></a>
                                            <a class="show-tooltip" href="#" title="Remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>