            <!-- BEGIN Content -->
            <div id="main-content" >


                <!-- Home - Container - MainContent - PageTitle  -->
                <%= partial partials_desktop_Home_index_dir + "/_Home-container-index-mainContent-pageTitle" %>


                <!-- Home - Container - MainContent - breadCrumbs  -->
                <%= partial partials_desktop_Home_index_dir + "/_Home-container-index-mainContent-breadCrumbs" %>




                <!-- BEGIN Main Content -->
                <div class="row" ng-app="indexModule">
                    <div class="col-md-12" >
                    
                        <!-- Home - Container - Blank - MainContent - sampleBox  -->
                        <%= partial partials_desktop_Home_index_dir + "/_Home-container-index-mainContent-sampleBox" %>
            
                        

                    </div>
                </div>
                
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                
                <!-- END Main Content -->
                

     

                <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
            </div>
            <!-- END Content -->