                        <div class="box" >
                            <div class="box-title">
                                <h3><i class="fa fa-file"></i> Sample Box</h3>
                                <div class="box-tool">
                                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <div class="box-content" style="height:400px;" >
                                <!-- <p>Blank page</p> -->

                                <p>This is your first angular expression: {{ 1 + 2 }}</p>

                                <!-- <ng-view></ng-view> -->
                                <!-- <div class="ng-view"></div> -->

                                
                                
                            </div>
                        </div>