Leaflet_SearchInfoBox: function () {
    // console.log('Leaflet_SearchInfoBox');

        searchBox = L.control({
            position: 'bottomleft'
        });

        searchBox.onAdd = function (e) {
            // this._div = L.DomUtil.create('div', 'searchBox'); // create a div with a class "searchBox"
            this._div = L.DomUtil.create('div', 'row searchBox'); // create a div with a class "row"
            this.refresh();
            return this._div;
        };

        searchBox.refresh = function (properties) {
            this._div.innerHTML = '<h4>ระบบบริหารจัดการตำแหน่ง RTU</h4>';
            this._div.innerHTML += '<hr/>';

            $("#rtuSearchForm").show();
            $("#rtuSearchForm").appendTo( $(this._div) );

        };
        searchBox.addTo(map);


        // Disable dragging when user's cursor enters the element
        searchBox.getContainer().addEventListener('mouseover', function () {
            // Disable drag and zoom handlers.
            map.dragging.disable();
            map.touchZoom.disable();
            map.doubleClickZoom.disable();
            map.scrollWheelZoom.disable();
            map.keyboard.disable();

            map.boxZoom.disable();
            // if (map.tap) map.tap.disable();
            // document.getElementById('map').style.cursor='default';
        });

        // Re-enable dragging when user's cursor leaves the element
        searchBox.getContainer().addEventListener('mouseout', function () {
            // Enable drag and zoom handlers.
            map.dragging.enable();
            map.touchZoom.enable();
            map.doubleClickZoom.enable();
            map.scrollWheelZoom.enable();
            map.keyboard.enable();

            map.boxZoom.enable();
            // if (map.tap) map.tap.enable();
            // document.getElementById('map').style.cursor='grab';
        });

        // searchBox.getContainer().addEventListener('click', function (event) {
        //     console.log('searchBox click');
            
        //     event.stopPropagation()
        //     event.preventDefault()
        //     return false
        // });

        searchBox.getContainer().querySelector('#formSearch').onclick = function(e) {


            console.log(e);
            console.log(this);


            L.DomEvent.stopPropagation(e);



            // if (this.className === 'active') {
            //     map.removeControl(info);
            //     this.className = '';
            // } else {
            //     map.addControl(info);
            //     this.className = 'active';
            // }

            // console.log('formSearch');
            // return false;
        };

        $(".searchBox").draggable();
    
},
