MainRtuDataTable: function () {
    // console.log('MainRtuDataTable');

    //------------------------ mainRtuDataTable -----------------------//
    if (jQuery().dataTable) {

        mainRtuDataTable = $('#mainRtuDataTable').DataTable( {
            "processing": true,
            "ajax": {
                "url": "../../../../api/rtuManager/listRTUFromBranch/",
                "type": "GET",
                "dataSrc": "rows",
                // "success": function(data) {
                //     console.log(data);
                // },
                "error": function(jqXHR, textStatus, errorThrown){
                    // alert('init error: ' + textStatus);
                    var url = '../../../Login/';
                    $(location).attr('href',url);
                }
            },
            "aLengthMenu": [
                    [5, 10, 15, 25, 50, 100, -1],
                    [5, 10, 15, 25, 50, 100, "All"]
                ],
            "iDisplayLength": 10,
            "oLanguage": {
                    "sLengthMenu": "_MENU_ Records per page",
                    "sInfo": "_START_ - _END_ of _TOTAL_",
                    "sInfoEmpty": "0 - 0 of 0",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
            },
            "aoColumnDefs": [
                    {
                        'sWidth': '100px',
                        'bSortable': true,
                        'aTargets': [0, 4, 6]
                    },{
                        'sWidth': '90px',
                        'bSortable': true,
                        'aTargets': [3]
                    },{
                        'sWidth': '50px',
                        'bSortable': true,
                        'aTargets': [1, 2, 5]
                    },{
                        'bSortable': true,
                        "bAutoWidth": true,
                        'aTargets': [7]
                    },{
                        'sWidth': '100px',
                        'bSortable': false,
                        'aTargets': [8]
                    },{
                        // The `data` parameter refers to the data for the cell (defined by the
                        // `data` option, which defaults to the column being worked with, in
                        // this case `data: 0`.
                        "render": function ( data, type, row ) {
                            //return '<input type="checkbox" />';
                            return row.dm;
                        },
                        "targets": 0
                    },{
                        "render": function ( data, type, row ) {
                            return row.branch;
                        },
                        "targets": 1
                    },{
                        "render": function ( data, type, row ) {
                            return row.zone;
                        },
                        "targets": 2
                    },{
                        "render": function ( data, type, row ) {
                            return row.dma;
                        },
                        "targets": 3
                    },{
                        "render": function ( data, type, row ) {
                            return row.ip_address;
                        },
                        "targets": 4
                    },{
                        "render": function ( data, type, row ) {
                            return row.comm_type;
                        },
                        "targets": 5
                    },{
                        "render": function ( data, type, row ) {

                            var tmpLatLng = "";

                            tmpLatLng += '(' + row.lat + ',' + row.lng + ')';

                            return tmpLatLng;
                        },
                        "targets": 6
                    },{
                        "render": function ( data, type, row ) {
                            return row.location;
                        },
                        "targets": 7
                    },{
                        "render": function ( data, type, row ) {

                            var tmpListEventControls = "";
                            //tmpListEventControls = '<td class="text-center " style="vertical-align:middle">';
                            tmpListEventControls += '<div class="btn-group">';
                            // tmpListEventControls += '<a class="btn btn-sm show-tooltip" title="" href="#" data-original-title="View"><i class="fa fa-search-plus"></i></a>';
                            // tmpListEventControls += '<a class="btn btn-sm show-tooltip" title="" href="javascript:;" data-original-title="Edit"><i class="fa fa-edit"></i></a>';
                            tmpListEventControls += '<a class="btn btn-sm show-tooltip" title="" href="javascript:;" data-original-title="Map"><i class="fa fa-globe"></i></a>';
                            tmpListEventControls += '<a class="btn btn-sm btn-danger show-tooltip" title="" href="#" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>';
                            tmpListEventControls += '</div>';
                            //tmpListEventControls += '</td>'; 

                            return tmpListEventControls;
                        },
                        "targets": 8
                    },{ 
                        "sClass": "MainRtuDataTable-common", 
                        "aTargets": [0, 1, 2, 3, 4, 5, 6, 8] 
                    },{ 
                        "sClass": "MainRtuDataTable-col-07", 
                        "aTargets": [7] 
                    }
            ],
            "order" : [] //disable default sorting, eg sorting on 1st column
            
        });

        $('#mainRtuDataTable tbody').on('click', 'tr a', function () {
            //console.log($(this).attr('data-original-title'));
            //console.log(this);
            // console.log ( 'Row index: ' + EventsManagerDataTable.row(this).index() );

            var data = mainRtuDataTable.row($(this).closest('tr')).data();
            // console.log(data);
            // console.log( 'You clicked on ' + data.id+'\'s row' );
            // console.log( 'You clicked on rtu_dm :  ' + data.dm );

            if (rowDataTableSelected) {
                rowDataTableSelected = null;
            }

            rowDataTableSelected = data;
            // console.log(rowDataTableSelected);
            // console.log( 'You clicked on ' + rowDataTableSelected.id+'\'s row' );
            // console.log( 'You clicked on rtu_dm :  ' + rowDataTableSelected.dm );
            // console.log( 'You clicked on lat :  ' + rowDataTableSelected.lat );
            // console.log( 'You clicked on lng :  ' + rowDataTableSelected.lng );
            

            if ($(this).attr('data-original-title') == 'View') {
                // console.log('View');
                fn.Routers('view');
            } else if ($(this).attr('data-original-title') == 'Edit') {
                // console.log('Edit');
                fn.Routers('edit');
            } else if ($(this).attr('data-original-title') == 'Delete') {
                // console.log('Delete');
            } else if ($(this).attr('data-original-title') == 'Map') {
                // console.log('map');

                if (rtuGeojsonLayer) {
                    fn.Routers('map');
                    // fn.Leaflet_PanToLocation(rowDataTableSelected.dm, parseFloat(rowDataTableSelected.lat), parseFloat(rowDataTableSelected.lng));
                    fn.Leaflet_PanToLocation(rowDataTableSelected);
                }


                // map.panTo(new L.LatLng(rowDataTableSelected.lng, rowDataTableSelected.lat), {animate: true});

                // console.log(rtuGeojsonLayer);
                // console.log(typeof rtuGeojsonLayer);

                // rtuGeojsonLayer.eachLayer(function(layer){
                //     if (layer.feature.properties.dm == rowDataTableSelected.dm) {

                //         // e.target.openPopup();
                //         // map.panTo(e.target.getLatLng());
                //         // e.stopPropagation();
                //         // e.preventDefault();

                            
                //         map.panTo(layer.getLatLng());
                //         layer.openPopup();
                //         // map.panTo(new L.LatLng(rowDataTableSelected.lng, rowDataTableSelected.lat));
                        

                //     }
                // });


                
            }

        });

    }

},

