

//------------------------ mainRtuDataTable -----------------------//
if (jQuery().dataTable) {

    this.mainRtuDataTable = $('#mainRtuDataTable').DataTable( {
        "aLengthMenu": [
                [5, 10, 15, 25, 50, 100, -1],
                [5, 10, 15, 25, 50, 100, "All"]
            ],
        "iDisplayLength": 5,
        "oLanguage": {
                "sLengthMenu": "_MENU_ Records per page",
                "sInfo": "_START_ - _END_ of _TOTAL_",
                "sInfoEmpty": "0 - 0 of 0",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
        },
        "aoColumnDefs": [
                {
                    'bSortable': true,
                    "bAutoWidth": true,
                    'aTargets': [0]
                },{
                    "render": function ( data, type, row ) {

                        var tmpListEventControls = "";
                        //tmpListEventControls = '<td class="text-center " style="vertical-align:middle">';
                        tmpListEventControls += '<div class="btn-group">';
                        tmpListEventControls += '<a class="btn btn-sm show-tooltip" title="" href="#" data-original-title="View"><i class="fa fa-search-plus"></i></a>';
                        tmpListEventControls += '<a class="btn btn-sm show-tooltip" title="" href="javascript:;" data-original-title="Edit"><i class="fa fa-edit"></i></a>';
                        tmpListEventControls += '<a class="btn btn-sm btn-danger show-tooltip" title="" href="#" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>';
                        tmpListEventControls += '</div>';
                        //tmpListEventControls += '</td>';

                        return tmpListEventControls;
                    },
                    "targets": 4
                },{ 
                    "sClass": "EventsManagerDataTable_Controls", "aTargets": [4] 
                }
        ],
        "order" : [] //disable default sorting, eg sorting on 1st column
        
    });
}