                    <li class="<%= current_page.data.menuDashboard_IsActive %>">
                        <a href="<%= current_page.data.menuDashboard_href %>">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>