                    <li class="<%= current_page.data.menuReportManager_IsActive %>">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>REPORT Manager</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li class="">
                                <a href="<%= current_page.data.menuReportPressureAverage_href %>">แรงดันเฉลี่ยแต่ละ DMA</a>
                            </li>
                        </ul>
                        <!-- END Submenu -->
                    </li>