        <!-- BEGIN Container -->
        <div class="container sidebar-blue" id="main-container">

            <!-- Admin - Container - Sidebar  -->
            <%= partial partials_desktop_Common_dir + "/_Admin-sidebar" %>

            <!-- Admin - Container - MainContent  -->
            <%= partial partials_desktop_Admin_administrator_accessPolicy + "/_Admin-container-administrator_accessPolicy-mainContent" %>

        </div>
        <!-- END Container -->