                <!-- BEGIN Breadcrumb -->
                <div id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="index.php">Home</a>
                            <span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li class="active">
                            RMR
                            <span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li class="active">แสดงข้อมูล RTU ที่ใช้งาน</li>
                    </ul>
                </div>
                <!-- END Breadcrumb -->


