<div class="comment">
	<a class="comment-avatar pull-left" href="#"><img src="<%= current_page.data.imagePath + 'user.png' %>"></a>
	<div class="comment-text">
		<p>Sed convallis est in ante sodales, sit amet consectetur leo commodo.</p>
	</div>
</div>

<div class="clearfix"></div>