<div class="bubble">
	<div class="pointer">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt eget ante eget feugiat. Praesent adipiscing tortor eu tincidunt tempus. Sed convallis est in ante sodales, sit amet consectetur leo commodo. </p>
	</div>
	<div class="pointer-border"></div>
</div><!-- bubble end -->