<a class="post-avatar thumbnail" href="profile.html">
	<img src="<%= current_page.data.imagePath + 'user.png' %>" >
	<div class="text-center">DevUser1</div>
</a>
<div class="likes text-center">7 Likes</div>