

                <!-- BEGIN First Row -->
                <div class="row" id="home-menuTile">
                    
                    <br/>
                    
                    <div class="col-md-4  col-md-offset-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tile tile-big">
                                    <p class="title">WLMA-Admin</p>
                                    <hr/>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                    
 
                        
                        <div class="row">
                            <div class="col-md-12 tile-active">
                                <a class="tile tile-lime" id="menuRmrID" href="./RMR/" data-stop="10000">
                                    <div class="img">
                                        <img  src="<%= current_page.data.imageURL + '/rmr/Oval-rmr.png' %>"/>
                                    </div>
                                    <div class="content">
                                        <p class="big">RMR</p>
                                        <p class="title hidden-xs ">RTU Maintenance Records</p>
                                    </div>
                                </a>

                                <a class="tile tile-lime backgroundMenuTile" id="menuRmrID-backgroundMenuTile" href="./RMR/" data-stop="1000">
                                    <p class="title" style="color:#4A4849">RMR System</p>
                                    <p style="color:#4A4849">ระบบติดตามสถานะการบำรุงรักษา RTU</p>
                                    <div class="img img-bottom">
                                       <!--  <i class="fa fa-picture-o"></i> -->
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 tile-active">
                                <a class="tile tile-lime" id="menuRtuInfoID" href="./RTU/" data-stop="11000">
                                    <div class="img">
                                        <img  src="<%= current_page.data.imageURL + '/rmr/Oval.png' %>"/>
                                    </div>
                                    <div class="content">
                                        <p class="big">RTU</p>
                                        <p class="title hidden-xs ">RTU Information</p>
                                    </div>
                                </a>

                                <a class="tile tile-magenta backgroundMenuTile" id="menuRtuInfoID-backgroundMenuTile" href="./RTU/" data-stop="1000">
                                    <p class="title" style="color:#4A4849">RTU Information</p>
                                    <p style="color:#4A4849">ระบบจัดการข้อมูล RTU</p>
                                    <div class="img img-bottom">
                                       <!--  <i class="fa fa-picture-o"></i> -->
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 tile-active">
                                <a class="tile tile-lime" id="menuReportID" href="./REPORT/" data-stop="12000">
                                    <div class="img">
                                        <img  src="<%= current_page.data.imageURL + '/rmr/home-menuTile-report.png' %>"/>
                                    </div>
                                    <div class="content">
                                        <p class="big">Report</p>
                                        <p class="title hidden-xs ">WLMA Report</p>
                                    </div>
                                </a>

                                <a class="tile tile-magenta " id="menuReportID-backgroundMenuTile" href="./REPORT/" data-stop="1000">
                                    <p class="title" style="color:#4A4849">Report</p>
                                    <p style="color:#4A4849">รายงานข้อมูลจากระบบ WLMA</p>
                                    <div class="img img-bottom">
                                       <!--  <i class="fa fa-picture-o"></i> -->
                                    </div>
                                </a>
                            </div>
                        </div>


                    </div>

                </div>
                <!-- END First Row -->

                
      
