			<div class="col-md-7">
				<h2># Services</h2>
				<div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-ok"></i> HTML/CSS Website Design</div>
				<div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> Web Programming (PHP, Rails, Python)</div>
				<div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-ok"></i> Server & Database Administrator</div>
				<div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> CMS Web Development (Joomla, Wordpress & Drupal)</div>
				<div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-ok"></i> PSD to HTML or CMS</div>
				<div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> Tech Writing & Video Presentation</div>
			</div>