			<div class="col-md-5">
				<h2># Contact Info</h2>
				<ul class="contact-list">
					<li><img src="<%= current_page.data.imagePath + '/phone.png' %>"> (978) 555-5555</li>
					<li><img src="<%= current_page.data.imagePath + '/email.png' %>" > johndoe@gmail.com</li>
					<li><img src="<%= current_page.data.imagePath + '/facebook.png' %>" > Facebook<span>facebook.com/johndoe</span></li>
					<li><img src="<%= current_page.data.imagePath + '/twitter.png' %>" > Twitter <span>twitter.com/johndoe</span></li>
				</ul>
			</div>