			<div class="col-md-5">
				<h2># Recent Projects</h2>
				<ul class="work-list">
					<li><a href="#"><img src="<%= current_page.data.imagePath + '/work1.png' %>" ></a></li>
					<li><a href="#"><img src="<%= current_page.data.imagePath + '/work2.png' %>" ></a></li>
					<li><a href="#"><img src="<%= current_page.data.imagePath + '/work3.png' %>" ></a></li>
					<li><a href="#"><img src="<%= current_page.data.imagePath + '/work4.png' %>" ></a></li>
				</ul>
			</div>