			<div class="col-md-7">
				<h2># Education & Experience</h2>
				<div class="media">
					<div class="media-left">
						1996 - 1999
					</div>
					<div class="media-body">
						<h4 class="media-heading">Whittier Technical High School</h4>
						<p>Vestibulum in erat tempor, rutrum diam fringilla, feugiat augue</p>
					</div>
				</div>        

				<div class="media">
					<div class="media-left">
						2000 - 2003
					</div>
					<div class="media-body">
						<h4 class="media-heading">Salem State College</h4>
						<p>Vestibulum in erat tempor, rutrum diam fringilla, feugiat augue</p>
					</div>
				</div>

				<div class="media">
					<div class="media-left">
						2004 - 2008
					</div>
					<div class="media-body">
						<h4 class="media-heading">Massachusetts Institute of Technology</h4>
						<p>Vestibulum in erat tempor, rutrum diam fringilla, feugiat augue</p>
					</div>
				</div>

				<div class="media">
					<div class="media-left">
						2009 - 2014
					</div>
					<div class="media-body">
						<h4 class="media-heading">Web Programming Job</h4>
						<p>Vestibulum in erat tempor, rutrum diam fringilla, feugiat augue</p>
					</div>
				</div>
			</div>