---
title: "RMR - สรุปรายการอุปกรณ์ที่เสีย/ชำรุด"
layout: "layout-home-rmr-reportDeviceRepair"
pageTitle: " รายการอุปกรณ์ที่เสีย/ชำรุด"
pageDescription: "You can start your customization from this one!"

baseURL: "/rmr/build/src/desktop/Home/RMR/ReportDeviceRepair/"
loginURL: "../../../Login/index.php"
imageURL: "../../../../../images"

menuDashboardIsActive: ""
menuRmr_IsActive: "active"
menuRmr_reportRtuIsActive: ""
menuRmr_searchRtuIsActive: ""
menuRmr_reportDeviceRepairIsActive: "active"
menuRmr_reportCostIsActive: ""
menuRmr_mapDmaIsActive: ""
menuAdministrator_IsActive: ""
menuAdministrator_memberIsActive: ""
menuAdministrator_accessPolicyIsActive: ""

menuHome_Index_href: "../../"
menuRmr_reportRtu_href: "../ReportRTU/"
menuRmr_reportDeviceRepair_href: "../ReportDeviceRepair/"
menuRmr_reportCost_href: "../ReportCost/"
menuRmr_searchRtu_href: "../SearchRTU/"
menuRmr_mapDma_href: "../MapDMA/"
menuAdministrator_member_href: "../../Administrator/Member/"
menuAdministrator_accessPolicy_href: "../../Administrator/AccessPolicy/"
---





        <!-- Admin - Navbar  -->
        <%= partial partials_desktop_Common_dir + "/_common-navbar" %>




        <!-- BEGIN Container -->
        <div class="container sidebar-blue" id="main-container">

            <!-- Home - Container - Sidebar  -->
            <%= partial partials_desktop_Common_dir + "/_Common-sidebar" %>


            <!-- Home - Container - MainContent  -->
            <%= partial partials_desktop_home_rmr_reportDeviceRepair + "/_home-rmr-reportDeviceRepair-container-mainContent" %>

        </div>
        <!-- END Container -->

