                


                <!-- BEGIN First Row -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div  class="col-md-12">
                                <a href="<%= current_page.data.gotoWLMA1125_href %>" class="tile tile-light-blue" id="ReportLogoID">
                                    <div class="img">
                                        <!-- <i class="fa fa-calendar"></i> -->
                                        <img  src="<%= current_page.data.imageURL + '/rmr/home-menuTile-report-tileLogo.png' %>"/>
                                    </div>
                                    <div class="content">
                                        <p class="big">WLMA-1125</p>
                                        <p class="title">ติดตามสถานะการรับส่งข้อมูล</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div  class="col-md-12">
                                <div class="tile tile-light-blue" id="ReportLogoID">
                                    <div class="img">
                                        <!-- <i class="fa fa-calendar"></i> -->
                                        <img  src="<%= current_page.data.imageURL + '/rmr/home-menuTile-report-tileLogo.png' %>"/>
                                    </div>
                                    <div class="content">
                                        <p class="big">WLMA-RTU</p>
                                        <p class="title">รายงานผลการ FTP</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div  class="col-md-12">
                                <div class="tile tile-light-blue" id="ReportLogoID">
                                    <div class="img">
                                        <!-- <i class="fa fa-calendar"></i> -->
                                        <img  src="<%= current_page.data.imageURL + '/rmr/home-menuTile-report-tileLogo.png' %>"/>
                                    </div>
                                    <div class="content">
                                        <p class="big">WLMA-CRM</p>
                                        <p class="title">รายงานผลการเชื่อมโยงกับ CRM</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 tile-active">
                                <div class="tile tile-magenta" data-stop="4000" style="top: 0px;">
                                    <div class="img img-center">
                                        <i class="fa fa-gear"></i>
                                    </div>
                                    <p class="title text-center">SERVER Monitoring</p>
                                </div>
                                <div class="tile tile-pink" data-stop="5000" style="top: 0px;">
                                    <p>ติดตามสถานะการทำงานของเครื่องแม่ข่าย</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END First Row -->


