                <!-- BEGIN Tiles -->
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="tile tile-light-blue well well-sm">
                                            <!-- <p class="title"><strong class="text-info">Events Manager</strong> - ระบบจัดการงานกิจกรรมภายใน MBK</p> -->
                                            <h4><strong>Report Manager</strong> - ระบบจัดการรายงานข้อมูลจากระบบ WLMA</h4>
                                            <p>ระบบจัดการรายงานข้อมูลที่มีในระบบ WLMA เพื่อสนับสนุนการบริหารจัดลดน้ำสูญเสีย กปน.</p>
                                            <!-- <div  class="img img-bottom">
                                                <i class="fa fa-dashboard"></i>
                                            </div> -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="row">
                            <div  class="col-md-12">
                                <div class="tile tile-light-blue" id="ReportLogoID">
                                    <div class="img">
                                        <!-- <i class="fa fa-calendar"></i> -->
                                        <img  src="<%= current_page.data.imageURL + '/rmr/home-menuTile-report-tileLogo.png' %>"/>
                                    </div>
                                    <div class="content">
                                        <p class="big">1</p>
                                        <p class="title">จำนวนรายงาน</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- END Tiles -->