                


                <!-- BEGIN First Row -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div  class="col-md-12">
                                <a href="<%= current_page.data.gotoWLMA_SCADA_href %>" class="tile tile-light-blue" id="ReportLogoID">
                                    <div class="img">
                                        <!-- <i class="fa fa-calendar"></i> -->
                                        <img  src="<%= current_page.data.imageURL + '/rmr/home-menuTile-report-tileLogo.png' %>"/>
                                    </div>
                                    <div class="content">
                                        <p class="big">WLMA-SCADA</p>
                                        <p class="title">แผนที่แสดงค่า F,P</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div  class="col-md-12">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div  class="col-md-12">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 tile-active">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END First Row -->


