                <!-- BEGIN Tiles -->
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="tile tile-light-blue well well-sm">
                                            <!-- <p class="title"><strong class="text-info">Events Manager</strong> - ระบบจัดการงานกิจกรรมภายใน MBK</p> -->
                                            <h4><strong>Report Manager</strong> - ระบบจัดการรายงานข้อมูลจากระบบ WLMA</h4>
                                            <p>ระบบจัดการรายงานข้อมูลที่มีในระบบ WLMA เพื่อสนับสนุนการบริหารจัดลดน้ำสูญเสีย กปน.</p>
                                            <!-- <div  class="img img-bottom">
                                                <i class="fa fa-dashboard"></i>
                                            </div> -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="row">
                            <div  class="col-md-12">
                                <div class="tile tile-light-blue" id="ReportLogoID">
                                    <div class="img">
                                        <!-- <i class="fa fa-calendar"></i> -->
                                        <img  src="<%= current_page.data.imageURL + '/rmr/home-menuTile-report-tileLogo.png' %>"/>
                                    </div>
                                    <div class="content">
                                        <p class="big">1</p>
                                        <p class="title">จำนวนรายงาน</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- END Tiles -->


                <!-- BEGIN First Row -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="tile tile-light-blue">
                            <div class="img">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="content">
                                <p class="big">+562</p>
                                <p class="title">Today Sells</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="tile tile-green">
                            <p class="title">Some title text</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="tile tile-img" style="background-image: url(img/demo/gallery/5.jpg);">
                            <p class="title">Background Image</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="tile tile-blue" href="#">
                                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                </a>
                            </div>

                            <div class="col-md-6">
                                <a class="tile tile-orange">
                                    <div class="img img-center text-center">
                                        <i class="fa fa-gear"></i>
                                    </div>
                                    <p class="title text-center">Settings</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END First Row -->


                <!-- BEGIN Second Row -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="tile tile-red">
                            <p class="title">This tile has small icon</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                            <div class="img img-bottom">
                                <i class="fa fa-bell"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="tile tile-magenta">
                            <div class="img img-center">
                                <img src="img/demo/wp-logo.png" alt="wp" />
                            </div>
                            <p class="title text-center">Image Icon</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <a class="tile tile-pink" href="#">
                            <p class="title">Linked Tile</p>
                            <p>Just make tile block with &lt;a&gt; tag and link to your desire page!</p>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <div class="tile tile-lime">
                            <div class="img">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="content">
                                <p class="big">+76%</p>
                                <p class="title">Visitors Grow</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Second Row -->


                <!-- BEGIN Third Row -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 tile-active">
                                <div class="tile tile-orange" data-stop="3500">
                                    <p class="title">Active tile</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="tile tile-lime" data-stop="4000">
                                    <p class="title">Second Slide !</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="tile tile-dark-blue">
                                    <p class="title">Title</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                </div>
                            </div>

                            <div class="col-md-6 tile-active">
                                <div class="tile tile-magenta" data-stop="4000">
                                    <div class="img img-center">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <p class="title text-center">Need a place?</p>
                                </div>
                                <div class="tile tile-pink" data-stop="5000">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tile tile-big">
                                    <p class="title">Big Tile</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 tile-active">
                                <div class="tile tile-red" data-stop="4000">
                                    <div class="img img-center">
                                        <i class="fa fa-camera"></i>
                                    </div>
                                    <p class="title text-center">Photography</p>
                                </div>

                                <div class="tile tile-green" data-stop="7000">
                                    <p class="title">Photography description</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                    <div class="img img-bottom">
                                        <i class="fa fa-camera"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 tile-active">
                                <div class="tile tile-img" style="background-image: url(img/demo/gallery/6.jpg);">
                                    <p class="title">Visit Our Gallery</p>
                                </div>

                                <a class="tile tile-blue" href="#">
                                    <p class="title">Check out our gallery</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                    <div class="img img-bottom">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Third Row --> 