<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<h1>Capture <span class="em-text">Life</span></h1>
				<p>A fun and easy way to capture & share the moments you live for</p>
				<a href="#"><img class="app-btn" src="<%= '../../../' + images_dir + '/images-training-section2/icon_app_store.png' %>"></a>
				<a href="#"><img class="app-btn" src="<%= '../../../' + images_dir + '/images-training-section2/icon_google_play.png' %>"></a>
			</div>
			<div class="col-md-6  col-sm-12">
				<img class="showcase-img" src="<%= '../../../' + images_dir + '/images-training-section2/site_phone.png' %>">
			</div>
		</div>
	</div>
</div>